.container {
    margin: 40px;
    height: 400px;
    width: 400px;
    display:flex;
    background-color: bisque;

    flex-wrap: wrap;/*wrap-reverse*/
    flex-direction: row;/*row-reverse column*/

    /* how items within a row are aligned in order */
    justify-content:center; 

    /* align items within the row perpendicularly */
    align-items: center;

    /* how all the rows together are aligned */
    align-content: flex-end;
}

.item {
    border:dotted maroon 2px;
    margin:10px;

    height: 50px;
    width: 50px;
    background-color: lightseagreen;
    font-size: 20pt;
    color: white; 
    text-align: center;
    /*vertical alignment is custom*/
    padding-top: 15px;
}