*{
    background-color: rgb(40, 120, 120);
}

#id1 {

    background-color:lightgreen;
    font-size: large;
}

div{
    background-color: lightseagreen;
    border: 60px;
    border-color: black;
}

.cl1 {
    background-color: lightcoral;
    text-align: center;
}

#id1{
    background-color: lightsteelblue;
}
.cl1{
    background-color: lightskyblue;
}