div{
    height:100px;
    width:100px;
    color:beige;
    background-color: indigo;
    margin:20px;
    padding:20px;
}
/*height double means different*/
.one {
    transform: scale(1.5,1.5);
    /*scaleX scaleY*/
}
.two{
    transform: rotate(30deg);
    /*rotateX around Xaxis*/
    /* negative opposite*/
}
.three{
    transform: translate(-70px,150px);
    /* translateX translateY */
}

.four{
    transform: translateX(100px) rotate(45deg);
    /* if first rotate then different*/
}

.five{
    transform: skewX(-40deg) skewY(40deg);
    /*skewX(40deg) again will not bring it back*/
    /*skewX skewY changes them to ||gms*/
}

.six{
    transform: skew(10deg,10deg) rotate(-40deg);
}