.box{
    height: 100px;
    width: 100px;
    margin: 30px;

    background-color: brown;
    
}




@media(max-width:1200px){ /*viewport width*/
    .box{
        background-color: magenta;
    }
}

@media(max-width:900px){ /*viewport width*/
    .box{
        background-color: limegreen;
    }
}

@media (max-width:600px){ /* order carefully*/
    .box{
        background-color: purple;
    }
}