.box{
    margin:40px;
    padding: 10px;
    border: solid black 3px;
    /*border makes its own space*/
}

#div1{
background-color: lightgreen;
}
#div2{
    background-color: lightsalmon;
}
#div3{
    background-color: lightcyan;
}
/*margin top left right bottom*/
            