.container{
    margin:30px;
    width: 400px;
    height: 400px;
    background-color: lightpink;
}

.item{
    height:50px;
    width: 50px;
    margin:20px;
    background-color: darkcyan;
    border: solid black 1px;
    display: /*inline-height-width can't set*/inline-block;

    animation: bounce 2s; 
    animation-iteration-count: infinite;
}

.one {
    animation-timing-function: ease-in;
    /* cubic bezeir curves*/
}
.two{
    animation-timing-function: ease-out;
}
.three{
    animation-timing-function: linear;
}
/* all reach bottom at same time and
 all reach top at same time - all take 5s*/
/*animation*/
@keyframes bounce {
    0%{

    }
    50%{
        transform: translateY(300px);
    }
    100%{

    }
}


.game {
 margin: 50px;
 background: azure;
 border:dotted black 2px;
 height: 500px;
 width: 500px;
}
.box{
    display: inline-block;
    height:50px;
    width:50px;
    border: solid black 1px;
}
.player{
    transform: translate(225px);
    background-color: blue;
    animation: name duration timing-function delay infinite direction fill-mode;
}
.enemy{
    margin-left: 100px;
    background-color: orangered;
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-duration: ;
    
}

@keyframes bounce {
    50%{
        transform:translateY(450px);
    }
}

@keyframes move {
    50%{
        t
    }
}